.backDrop {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;

  cursor: pointer;
  background: $gray;
  z-index: -11;

  transition: opacity 0.25s;
}

.backDrop_shown {
  opacity: 0.5;
  z-index: 9;
}