.button {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 0.25rem;

  font-size: inherit;
  font-family: inherit;

  text-wrap: nowrap;
  cursor: pointer;
}

.button_color_primary {
  background: $primary-color;
  color: $white;
  &:hover {
    background: $primary-color-hover;
  }
}

.button_color_ghost {
  background: none;
  color: $blue;
  &:hover {
    color: $primary-color;
  }
}

.button_short {
  width: fit-content;
}