.grid {
  display: grid;
  grid-template-columns: 362px auto;
  gap: 2rem;
  @media (max-width: 800px) {
    grid-template-columns: auto;
    gap: 1rem;
  }
}

.grid__col2 {
  grid-column: span 2;
  @media (max-width: 800px) {
    grid-column: span 1;
  }
}

.grid__row3 {
  grid-row: span 3;
}

.grid_mt {
  margin-top: clamp(1.25rem, 0.145rem + 4.211vw, 2.25rem);
}