.inputField {
  position: relative;
  width: 100%;
  padding: 0.5em 1em;

  border: 1px solid $light-gray;
  border-radius: 0.1rem;

  color: $black;

  .inputField__icon {
    position: absolute;
    top: 19px;
    right: 1rem;
    width: 18px;
    height: 18px;
  }

  .inputField__input {
    width: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5em;
  }

  .inputField__input_padding {
    padding: 0.5em 0;
  }
}

.inputField_short {
  max-width: 500px;
}

.inputField_error {
  border: 1px solid $primary-color;
}

.inputField_focus {
  box-shadow: 0 0 2px 2px $light-gray;
}