.inputField {
  width: 100%;
  padding: 0.5em 1em;

  border: 1px solid $light-gray;
  border-radius: 0.1rem;

  color: $black;

  &:focus {
    box-shadow: 0 0 2px 2px $light-gray;
  }

  .inputField__input {
    width: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5em;
  }

  .inputField__input_padding {
    padding: 0.5em 0;
  }

  .inputField__select {
    option {
      width: 100%;
    }
  }

  .inputField__select_padding {
    padding: 0.25em 0;
  }
}

.inputField_flex {
  display: flex;
}

.inputField_short {
  max-width: 500px;
}

