.modal {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  width: 754px;
  padding: 3.25rem clamp(1.25rem, -0.577rem + 7.308vw, 6rem);

  border-radius: 0.75rem;

  background-color: $white;
  z-index: 10;
}

