.modal {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  width: 754px;
  padding: 3.25rem 6rem;

  border-radius: 0.75rem;

  background-color: $white;
  z-index: 10;
}

